@import url(bootstrap.css);

a{
  color: #2a275e;
  font-size: 14px;
}

a:hover{
  text-decoration: none;
  color: #27214f;
}

.clearer{
  float: left;
  width: 100%;
  margin: 20px 0;
}

header,content,section{
  float: left;
  width: 100%;
  position: relative;
}

.logo img{
  width: 180px;
}

ul.menu{
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

ul.menu li{
  position: relative;
  display: inline-block;
}

ul.menu li a{
  display: block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
  color: #2a275e;
}

ul.menu li a:hover{
  text-decoration: : none;
}

.about-home{
  background-image: url('../../images/bg-about.jpg');
  background-repeat: no-repeat;
  height: 100%;
}

.about-box{
  background: rgba(255,255,255,0.7);
  border-radius: 20px
}

.about-box .figure-caption{
  padding: 20px;
}

.section-title{
  margin-bottom: 20px;
}

.section-title:after{
  content: '';
  border-bottom: solid 2px #6c757d;
  margin-top: 15px;
  display: inline-block;
  width: 40%;
}
